<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tolet.sajib.abbreviations">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityZ"></activity>
        <activity android:name=".ActivityY" />
        <activity android:name=".ActivityX" />
        <activity android:name=".ActivityW" />
        <activity android:name=".ActivityV" />
        <activity android:name=".ActivityU" />
        <activity android:name=".ActivityT" />
        <activity android:name=".ActivityS" />
        <activity android:name=".ActivityR" />
        <activity android:name=".ActivityQ" />
        <activity android:name=".ActivityP" />
        <activity android:name=".ActivityO" />
        <activity android:name=".ActivityN" />
        <activity android:name=".ActivityM" />
        <activity android:name=".ActivityL" />
        <activity android:name=".ActivityK" />
        <activity android:name=".ActivityJ" />
        <activity android:name=".ActivityI" />
        <activity android:name=".ActivityH" />
        <activity android:name=".ActivityG" />
        <activity android:name=".ActivityF" />
        <activity android:name=".ActivityE" />
        <activity android:name=".ActivityD" />
        <activity android:name=".ActivityC" />
        <activity android:name=".ActivityB" />
        <activity android:name=".Booklist" />
        <activity android:name=".Recyclerview" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>